@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Turret+Road:wght@200&family=Vampiro+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    background-color:#FFFFFF;
}
header{
    width: 100%;
    height: 70px;
    background-color: #5c5470;
}
header h1{
    float: left;
    margin: 10px 0 10px 50px;
    color:#dbd8e3;
}
header ul{
    list-style: none;
    float:right;
    margin: 25px 35px 10px 10px;
}
header ul li {
    display: inline;
    margin-left:15px ;
    padding: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    color: #dbd8e3;
    letter-spacing: 1px;
}
li >a {
    color:#dbd8e3;
    text-decoration: none;
}

#princ{
    display: inline-block;
    padding: 10px;
    margin: 30px 10px 10px 50px;
}

#princ p,h1{
    color:#f9f1db;
}

#princ div{
    float: left;
    margin-left:3%;
}

#princ div a{
    color:#767676 ;
}

#princ a:hover{
    color:#f9e6a5;
}

#princ #html a:active{
    color:#ffa500;
}

#princ #css a:active{
    color:#87cefa;
}

#princ #js a:active{
    color:#ffff00;
}

button{
    margin-top:2%;
    position: relative;
    left:0.8%;
    padding: 15px;
    width: 190px;
    border:none;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    background: transparent;
    text-transform: uppercase;
    
    color:#272343;  
}
button a{
    text-decoration: none;
    text-transform: uppercase;
    color:  #272343;;
    
}



/* responsive */
@media only screen and (max-width: 600px){
    body{
        background-color:#001900;
    }

    header{
        width: 100%;
        height: 90px;
        background-color: #7f7f7f;
    }

    header h1{
        float: left;
        margin: 2px 0 8px 36%;
        color:#6d1006 ;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }

    header ul{
        list-style: none;
        float: left;
        margin: 8px 5px 10px 80px;
    }

    header ul li {
        display: inline;
        margin-left:5px ;
        padding: 2px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 400;
        color: #2b5480;
        letter-spacing: .2px;
    }

    li >a {
        color:#2b5480;
        text-decoration: none;
    }

    #princ h1{
        color:  #f4f4c3;
    }
    
    #princ p{
        color:  #FFFFFF;
    }

    button{
        padding: 15px;
        margin: 30px 0 10px 102px;
        background: transparent;
        border:2px solid #FFFFFF;
        border-radius: 50px;
        outline: none;
    }

    button a{
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        outline: none;
    }


}

