@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color:#0a0200;
}
header{
    width: 100%;
    height: 70px;
    background-color: #bf5700;
}
header h1{
    float: left;
    margin: 10px 0 10px 50px;
    color:#6d1006;
}
header ul{
    list-style: none;
    float:right;
    margin: 25px 35px 10px 10px;
}
header ul li {
    display: inline;
    margin-left:15px ;
    padding: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    color: #A9A9A9;
    letter-spacing: 1px;
}
li >a {
    color: #fae7a3;
    text-decoration: none;
}
nav{
    margin: 50px 0 0 100px;
}
nav p{
    font-size: 40px;
}
nav .intro_2{
    color:#223675;
    font-family: 'Lobster', cursive;
}

nav .intro_3{
    color: #ffebb4 ;
    font-family: 'Indie Flower', cursive;
}
nav .intro_4,.intro{
    color:#ffebb4 ;
    font-size: 19px;
}

nav button{
    padding: 10px;
    margin: 70px 0 0 25px;
    background: transparent;
    border:2px solid #be5707;
    border-radius: 10px;
    outline: none;
}
nav button a{
    text-decoration: none;
    text-transform: uppercase;
    color: #be5707;
    outline: none;
}
 



/* Parte responsiva  */
@media only screen and (max-width: 600px){
    body{
        background-color:#001900;
    }

    header{
        width: 100%;
        height: 50px;
        background-color: #bf5700;
    }

    header h1{
        float: left;
        margin: 2px 0 8px 10px;
        color:#6d1006 ;
        font-family: 'Lobster', cursive;
        font-weight: 300;
    }

    header ul{
        list-style: none;
        float:right;
        margin: 18px 5px 10px 0;
    }

    header ul li {
        display: inline;
        margin-left:5px ;
        padding: 2px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 700;
        color: #000000;
        letter-spacing: .5px;
    }

    li >a {
        color:#2b5480;
        text-decoration: none;
    }

    nav{
        margin: 50px 0 0 50px;
    }

    nav .intro{
        color: #f4f4c3;
    }

    nav .intro_2{
        color:#223675;
        font-family: 'Lobster', cursive;
    }

    nav .intro_3{
        font-family: 'Indie Flower', cursive;
        color: #f4f4c3;
    }

    nav button{
        padding: 15px;
        margin: 50px 0 0 55px;
        background: transparent;
        border:2px solid #FFFFFF;
        border-radius: 50px;
        outline: none;
    }

    nav button a{
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        outline: none;
    }
}