* {
    margin: 0;
    padding: 0;
}

body{
    background-color:white;
}
header{
    width: 100%;
    height: 70px;
    background-color: #5c5470;
}
header h1{
    float: left;
    margin: 10px 0 10px 50px;
    color:#dbd8e3;
}
header ul{
    list-style: none;
    float:right;
    margin: 25px 35px 10px 10px;
}
header ul li {
    display: inline;
    margin-left:15px ;
    padding: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    color: #dbd8e3;
    letter-spacing: 1px;
}
ul  a {
    color: #fae7a3;
    text-decoration: none;
}

form{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:15px;
    float: left;
    margin: 20vh 0 0 40vw;
    height: 40%;    
    width: 500px;
}

form label{
    text-transform: uppercase;
    color: #66bfbf;
}

form input{
   padding: 5px;
   width: 90%;
   margin-bottom: 20px;
   border-color:black;
   border:none;
   border-bottom: 1px solid #5c5470 ;
   outline: #575757;
}

form input #email{
    margin-bottom: 0;
}

form textarea{
    width: 90%;
    resize: none;
    display: flex;
    outline: #575757;
}

form button{
    margin-top: 10%;
    position: relative;
    left:30%;
    padding: 15px;
    width: 190px;
    border:none;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    background: transparent;
    text-transform: uppercase;
    
    color:#272343;  
}



/* Parte responsiva  */
@media only screen and (max-width: 600px){
    body{
        background-color:#001900;
    }

    header{
        width: 100%;
        height: 90px;
        background-color: #7f7f7f;
    }

    header h1{
        float: left;
        margin: 2px 0 8px 36%;
        color:#6d1006;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }

    header ul{
        list-style: none;
        float: left;
        margin: 8px 5px 10px 40px;
    }

    header ul li {
        display: inline;
        margin-left:5px ;
        padding: 2px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 400;
        color: #2b5480;
        letter-spacing: .2px;
    }

    li >a {
        color:#2b5480;
        text-decoration: none;
    }

    form{
        border: 2px solid black;
        border-radius: 25px;
        padding:15px;
        float: left;
        margin: 5vh  19vw;
        height: 350px;    
        width: 185px;
    }

    form label{
        text-transform: uppercase;
        color:#FFFFFF;
        
    }

    form button{
        padding: 15px;
        width: 182.64px;
        border-radius:  0 0 15px 15px;
        border:2px solid #223675;
        background: transparent;
        text-transform: uppercase;
        color: #223675 ;
        outline: none;
    }
}

